@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 400px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Montserrat;
  font-size: .75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  color: #ead891;
  font-size: 25px;
  font-weight: 500;
  line-height: 35.71px;
  text-transform: uppercase
}
.title--h1 {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 28.57px;
  text-transform: none
}
.title--subtitle-1 {
  font-size: 15px;
  font-weight: 700;
  line-height: 21.43px;
  text-transform: none
}
.title--subtitle-2 {
  font-size: 16px;
  line-height: 24px
}
.title--price {
  font-size: 20px;
  font-weight: 700;
  line-height: 28.57px
}
.title--discount {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: line-through
}
.title--button {
  font-size: 20px;
  font-weight: 600;
  line-height: 28.57px;
  text-transform: capitalize
}
.title--button-discount {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  line-height: 24.29px;
  text-transform: capitalize
}
.text {
  line-height: 17.14px
}
.text--black {
  color: #000
}
.text--footer {
  line-height: 16px
}
.text--caution {
  font-size: 9px;
  line-height: 12.8px
}
.button {
  position: relative;
  display: inline-block;
  padding: 22px 87px 22px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 200px;
  cursor: pointer;
  box-shadow: inset 0 -4px 10px 0 rgba(0,0,0,.25)
}
.button-discount {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 24px 12px;
  color: #fff;
  background-color: #383838;
  border-radius: 33.87px;
  cursor: pointer;
  transition: background-color .3s
}
.overlay {
  display: inline-block;
  padding: 6px 15px;
  background-color: #383838;
  border-radius: 33.87px
}
.overlay-yellow {
  display: inline-block;
  padding: 6px 25px;
  border-radius: 1000px;
  color: #000;
  background: #ead891
}
.overlay-blur {
  padding: 20px 7px 20px 32px;
  border: 1px solid rgba(255,255,255,.05);
  border-radius: 40px;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,.05)
}
.overlay-blur--second {
  padding: 20px 8px 20px 29px
}
.page__start {
  display: flex;
  flex-direction: column
}
.page__container {
  margin-top: 26px
}
.page__header {
  display: flex;
  align-items: center;
  gap: .9375rem
}
.page__header:not(:last-child) {
  margin-bottom: 1.7725rem
}
.page__icon {
  align-self: flex-start
}
.page__icon img {
  max-width: 100%
}
.page__text {
  max-width: 250px
}
.page__tag:not(:last-child) {
  margin-bottom: 2.875rem
}
.page__title:not(:last-child) {
  margin-bottom: 2.0625rem
}
.page__highlight:not(:last-child) {
  margin-bottom: 1.9375rem
}
.page__feature {
  margin-bottom: 1.9375rem;
  max-width: 222px
}
.page__feature--last-child {
  margin-bottom: 2.375rem
}
.page__price-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem
}
.page__price-block:not(:last-child) {
  margin-bottom: .84375rem
}
.page__button {
  display: flex;
  justify-content: center;
  align-items: center
}